#galleries_table td {
    border: 1px solid black;
    padding: 4px;
}

.inlinetable {
    display:inline;
}

#flash {
    color:red;
    font-weight:bold;
}

.error-message {
    color:red;
    font-weight:bold;
}

#dragged_image {
    position:absolute;
    display:none;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
    top: 0;
    left: 0;
}

.image_cell {
    cursor:move;
}