body {
    margin:0;
    padding:0;
    font: 75% Helvetica, Arial, sans-serif;
}

body a {
    color: black;
    text-decoration:underline;
    font-weight:bold;
}

body img {
    border:0;
}

body a:visited {
    color:black;
}

#wrapper {
    width:900px;
    position:relative;
    left:50%;
    margin:0 0 0 -450px;
}

#header {
    border-bottom:1px solid black;
    padding: 0 20px;
    height: 63px;
}

#logo {
    float:left;
}

#header_menu {
    margin:0;
    padding:0;
    float:right;
}

#searchbar {
    padding: 5px 20px;
    font-weight:bold;
    font-size:130%;
}

#searchbar_right {
    float:right;
    font-weight:normal;
    font-size:80%;
}

#searchbar form {
    margin:0;
    padding:0;
}

#searchbar input {
    border:1px solid black;
    width:156px;
    height:15px;
    color:black;
    font-weight:bold;
    padding:3px;
    border: 1px solid black;
    margin:0 0 0 7px;
}

#heading {
    float:left;
    margin:3px 0 0 0;
}

#content {
    padding:10px 0 10px 0;
    clear:both;
}

.gallery_entry {
    padding:0;
    border:2px solid black;
    margin: 0 0 8px 0;
    width:289px;
    float:left;
}

.gallery_entries {
    float:left;
    width:293px;
    margin:0;
    padding:0 0 0 4px;
}

.gallery_entry_img {
    width:289px;
    margin:0;
    padding:0 0 2px 0;
    float:left;
    background-color:black;
    color:white;
}

.gallery_entry_img a {
    color: white;
}

.gallery_entry_img a:visited {
    color:white;
}

.gallery_entry_tags {
    padding:3px;
    margin:0;
}

.gallery_entry_name {
    width:279px;
    margin:0 0 0 -289px;
    padding:3px 5px;
    float:right;
    background-image:url('/images/gallery_name_bg.png');
    color:white;
    font-size:115%;
    font-weight:bold;
}

.gallery_entry_date {
    color:#bfbfbf;
    margin-right:3px;
}

#pages_bottom {
    clear:both;
    text-align:left;
    margin:0;
    padding:0 18px;
    font-size:130%;
}

.gallery_img {
    margin:4px 0 0 4px;
    float:left;
    border:2px solid black;
}

.gallery_imgs_col_left {
    width:594px;
    margin:0;
    padding:0;
    float:left;
}

.gallery_imgs_col {
    float:left;
    width:297px;
    padding:0;
    margin:0;
}

.gallery_video {
    margin:4px 0 0 4px;
    float:left;
    padding:0;
    height:332px;
    border:2px solid black;
}

#content hr {
    visibility:hidden;
    clear:both;
}

#content p {
    padding:0 20px;
    margin:0 0 5px 0;
    text-align:justify;
}

#footer {
    border-top: 1px solid black;
    padding:5px 20px;
    font-weight:bold;
    clear:both;
}

.footer_left {
    float:right;
    font-weight:normal;
}

/* menu */
#searchbar ul {
    list-style:none;
    margin:0;
    padding:0;
    display:inline;
}

#searchbar li{
    padding:0px;
    display:inline;
}

#searchbar li a{
    margin:0px;
    padding:3px;
}

#searchbar li ul{
    background:white;
    display:none;
    padding:0 3px 3px 3px;
    position:absolute;
    z-index:200;
    width:185px;
}

#searchbar li:hover ul{
    display:block;
    
}

#searchbar li li {
    float:none;
    margin:-4px 0 0 0;
    padding:0;
    text-align:center;
}

#searchbar li:hover li a{
    background:none;
    
}
#searchbar li ul a{
    font-style:normal;
    margin:0;
    text-align:left;
}

#document {
    margin:0;
    padding:0;
}
/* Lightbox stuff */
#lightbox_overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index:1001;
    -moz-opacity: 0.9;
    opacity:.90;
    filter: alpha(opacity=90);
    cursor:pointer;
    cursor:hand;
}
 
#lightbox_content {
    display: none;
    position: absolute;
    left:50%;
    margin:0;
    padding: 0;
    top:50%;
    border: 5px solid black;
    background-color: white;
    z-index:1002;
    overflow: auto;
    background-color:black;
    color:white;
}

#lightbox_content img {
    margin:0;
    padding:0;
    float:left;
}

#lightbox_img {
    margin:0;
    padding:0;
    cursor:pointer;
    cursor:hand;
}

#lightbox_navbar {
    color:white;
    margin:0;
    clear:both;
    text-align:center;
    padding:5px 0 0 0;
}

#lightbox_navbar_inner {
    margin:-5px 0 0 0;
    padding:0;
    float:right;
    text-size:20px;
}

#lightbox_loading {
    font-weight:bold;
}

#lightbox_close {
    float:left;
    margin-top:-5px;
}